.App {
  text-align: center;
  font-family: monospace;
}

.navItem {
  background-color: lightgrey;
  font-size: 18px;
  padding: 10px;
}

.navItem.active {
  font-weight: bold;
  color: "#fff";
  background: "#7600dc";
}

.navItem.inactive {
  color: "#545e6f";
  background: "#f0f0f0";
}
